<ul class="todo"><h1>Restaurants to Try:</h1>
  <% _(unfinished).each(function (restaurant) { %>
    <li class="restaurant" data-id="<%=restaurant.escape("id") %>">
      <button class="checkbox unfinished <%= BellyGuide.owner ? "owner" : "" %>"></button>
      <a class="list" href="#/">
        <%= restaurant.escape("name") %>
      </a>
    </li>
  <% }); %>
</ul>

<ul class="todo"><h1>Visited Restaurants:</h1>
  <% _(finished).each(function (restaurant) { %>
    <li class="restaurant" data-id="<%=restaurant.escape("id") %>">
      <button class="checkbox finished <%= BellyGuide.owner ? "owner" : "" %>"></button>
      <a class="list" href="#/">
        <%= restaurant.escape("name") %>
      </a>
    </li>
  <% }); %>
</ul>

<br>
<% if (BellyGuide.owner) {%>
  <a href="#/restaurants/new">New Restaurant</a>
<% } %>
