<ul>
  <% maps.each do |map| %>
  <li class=<%= map.owner == current_user ? "owner" : "" %>>
    <a href="<%= map_url(map) %>"><%= map.title %></a> |
    <%= map.owner.username %>
    <p>
      <%= map.description %>
    </p>
  </li>
  <% end %>
</ul>