<p>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :source_url, "Source URL" %>
  <%= f.text_field :source_url %><br>

  <%= f.label :address %>
  <%= f.text_field :address %><br>

  <%= f.label :note %>
  <%= f.text_area :note, rows: 3 %><br>

  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Restaurant" %>
</p>
