<%= form_for @map do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description , rows: 3%><br>
  </p>

  <%= f.fields_for :restaurants do |builder| %>
  <hr>

     <%= render "restaurants", f: builder %>
  <% end %>

  <p><%= f.submit "Submit" %></p>
<% end %>