<h1>Create a new map</h1>

<form action="<%= maps_url %>" method="POST">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Title
    <input
      type="text"
      name="map[title]"
      value="<%= @map.title %>"><br>
  </label>

  <label>Description
    <textarea
      rows="2"
      cols="40"
      name="map[description]"><%= @map.description %></textarea></label><br>

  <h2>Add Restaurants</h2>
  <div id="restaurants">
      <% @map.restaurants.each do |restaurant| %>

        <%= render 'restaurant'%>

      <% end %>
  </div>

    <input type="submit" value="Create Map">
</form>