<head class="map">

  <%= render "map", restaurants: @restaurants, lat: @lat, long: @long, zoom: 14 %>

</head>

<body class="map">
  <%= render "header", map: @map, favorite: @favorite %>

  <div id="map-canvas"></div>

  <script type="application/javascript">
    $(function () {
      var restaurants = <%= @restaurants.to_json.html_safe %>
      var current_maps = <%= current_user.maps.to_json.html_safe %>

      window.BellyGuide.initialize($(".restaurant-list"),restaurants,
      current_maps, <%= @map.id %>, <%= @map.owner == current_user %>);
    });
  </script>

  <section class="restaurant-list group"></section>

  <hr>

  <%= render "comments", map: @map, comment: @comment, comments: @comments%>

  <script type="application/javascript">
   // how to do src="./comments" ?
    $(document).ready(function () {
      $("#comment-form").on("ajax:success", function(event, data){
        $(".comments").prepend(data);
        $("#comment-form textarea").val("");
      })
    })
  </script>

</body>


