<head class="map">

  <%= render "map_head" %>

</head>

<body class="map">
  <%= @favorites %>
  <%= render "header", map: @map, favorite: @favorite %>

  <section class="show-map">
    <div id='show-map-ui'>
      <ul id='compress'>
        <li><a href='#' id='filter'>Filter Results</a></li>
      </ul>
      <ul id='expand' class='hide'>
          <li><a href='#' id='filter-bakery'>Bakery</a></li>
          <li><a href='#' id='filter-bar'>Bar</a></li>
          <li><a href='#' id='filter-slaughterhouse'>Barbecue</a></li>
          <li><a href='#' id='filter-alcohol-shop'>Brewery</a></li>
          <li><a href='#' id='filter-cafe'>Cafe</a></li>
          <li><a href='#' id='filter-fast-food'>Fast Food</a></li>
          <li><a href='#' id='filter-grocery'>Grocery</a></li>
          <li><a href='#' id='filter-restaurant'>Restaurant</a></li>
          <li><a href='#' class='active' id='filter-all'>All</a></li>
        </ul>
    </div>
   <div id='map-canvas'></div>
  </section>

  <%= render "map", restaurants: @restaurants %>


  <script type="application/javascript">
    $(function () {
      var restaurants = <%= @restaurants.to_json.html_safe %>
      var current_maps = <%= current_user.maps.to_json.html_safe %>

      window.BellyGuide.initialize($(".restaurant-list"),restaurants,
      current_maps, <%= @map.id %>, <%= @map.owner == current_user %>);
    });
  </script>

  <section class="restaurant-list group"></section>

  <hr>

  <%= render "comments", map: @map, comment: @comment, comments: @comments%>

</body>


