<head class="map">
  <script type="application/json" id="bootstrapped_restaurants_json">
    <%= @restaurants.to_json.html_safe %>
  </script>

  <script type="application/json" id="bootstrapped_maps_json">
    <%= current_user.maps.to_json.html_safe %>
  </script>

  <%= render "map", restaurants: @restaurants, restaurant: @restaurants.first %>

</head>

<body class="map">
  <%= render "header", map: @map, favorite: @favorite %>

  <div id="map-canvas"></div>

  <section class="restaurant-list"></section>

  <hr>

  <%= render "comments", map: @map, comment: @comment, comments: @comments%>

  <script type="application/javascript">
    $(function () {
      <%= @restaurants.to_json.html_safe %>
      var restaurants = JSON.parse($("#bootstrapped_restaurants_json").html());
      var current_maps = JSON.parse($("#bootstrapped_maps_json").html())
      window.BellyGuide.initialize($(".restaurant-list"),
        restaurants, <%= @map.id %>, <%= @map.owner == current_user %>);
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#comment-form").on("ajax:success", function(event, data){
        $(".comments").prepend(data);
        $("#comment-form textarea").val("");
      })
    })
  </script>

</body>


