<h1><%= @map.title %></h1>
<p><%= @map.description %></p>

<%= render "map" %>

<ul>
  <% @map.restaurants.each do |restaurant| %>
    <li><%= restaurant.name %><br>
      Source: <%= restaurant.source_url %><br>
      Address: <%= restaurant.address %><br>
      Notes: <%= restaurant.note %><br>
    </li>
  <% end %>
</ul>
