<head class="map">

  <%= render "map", restaurants: @restaurants %>

</head>

<body class="map">
  <%= render "header", map: @map, favorite: @favorite %>

  <section class="show-map">
   <div id='map-canvas'></div>
  </section>

  <script type='text/javascript'>
  var map = L.mapbox.map('map-canvas', 'examples.map-9ijuk24y')
      .setView([0, 0], 12);
  var markers = new L.featureGroup();

  var geoJson = []

  <% @restaurants.each do |restaurant| %>
    var details = {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [<%= restaurant.longitude %>,
                      <%= restaurant.latitude %>]
      },
      properties: {
        title: '<%= restaurant.name %>',
        description: '<%= restaurant.address %>',
        'marker-size': 'medium',
        'marker-color': '<%= restaurant.completed ? '#009f5c' : '#ff8079' %>',
        'marker-symbol': 'restaurant'
      }
    }
    geoJson.push(details)
    markers.addLayer(L.mapbox.markerLayer(details))

  <% end %>
  map.markerLayer.setGeoJSON(geoJson)
  map.fitBounds(markers.getBounds()).zoomOut()

  function toggleColors() {
    for (var i=0; i < geoJson.length; i++) {
      geoJson[i].properties['marker-color'] =                                                   geoJson[i].properties['clicked-color']
             || geoJson[i].properties['marker-color'];
    }
    map.markerLayer.setGeoJSON(geoJson)
  }
  //
  // map.markerLayer.on('mouseover', function(e) {
  //   toggleColors();
  //   e.layer.feature.properties['clicked-color'] =                                    e.layer.feature.properties['marker-color']
  //   e.layer.feature.properties['marker-color'] = '#000';
  //   map.markerLayer.setGeoJSON(geoJson)
  // });
  //
  // map.on('click', toggleColors);

  BellyGuide.map = map
  BellyGuide.markers = markers
  BellyGuide.center = map.getCenter()
  BellyGuide.zoom = map.getZoom()

  </script>

  <script type="application/javascript">
    $(function () {
      var restaurants = <%= @restaurants.to_json.html_safe %>
      var current_maps = <%= current_user.maps.to_json.html_safe %>

      window.BellyGuide.initialize($(".restaurant-list"),restaurants,
      current_maps, <%= @map.id %>, <%= @map.owner == current_user %>);
    });
  </script>

  <section class="restaurant-list group"></section>

  <hr>

  <%= render "comments", map: @map, comment: @comment, comments: @comments%>

  <script type="application/javascript">
    $(document).ready(function () {
      $("#comment-form").on("ajax:success", function(event, data){
        //$(".comments").prepend(data);
        $("#comment-form textarea").val("");
      })
    })
  </script>

</body>


