<head class="map">

  <%= render "map", restaurants: @restaurants %>

</head>

<body class="map">
  <%= render "header", map: @map, favorite: @favorite %>

  <section class="show-map">
   <div id='map-canvas'></div>
  </section>

  <script type='text/javascript'>
  var map = L.mapbox.map('map-canvas', 'examples.map-9ijuk24y')
      .setView([0, 0], 12);
  var markers = new L.featureGroup();

  <% @restaurants.each do |restaurant| %>
    var marker = L.mapbox.markerLayer({
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [<%= restaurant.longitude %>,
                      <%= restaurant.latitude %>]
      },
      properties: {
        title: '<%= restaurant.name %>',
        description: '<%= restaurant.address %>',
        'marker-size': 'medium',
        'marker-color': '<%= restaurant.completed ? '#009f5c' : '#ff8079' %>',
        'marker-symbol': 'restaurant'
      }
    }).addTo(map)
    markers.addLayer(marker)

    marker.on('click', function(e) {
     // marker.setStyle({'marker-color': '#fff'})
     // console.log(marker.getStyle)
     console.log(marker)
     console.log(marker._geojson.properties['marker-color'])
     marker._geojson.properties['marker-color'] = '#fff'
     console.log(marker._geojson.properties['marker-color'])
    })
  <% end %>

  map.fitBounds(markers.getBounds()).zoomOut()

  </script>

  <script type="application/javascript">
    $(function () {
      var restaurants = <%= @restaurants.to_json.html_safe %>
      var current_maps = <%= current_user.maps.to_json.html_safe %>

      window.BellyGuide.initialize($(".restaurant-list"),restaurants,
      current_maps, <%= @map.id %>, <%= @map.owner == current_user %>);
    });
  </script>

  <section class="restaurant-list group"></section>

  <hr>

  <%= render "comments", map: @map, comment: @comment, comments: @comments%>

  <script type="application/javascript">
    $(document).ready(function () {
      $("#comment-form").on("ajax:success", function(event, data){
        //$(".comments").prepend(data);
        $("#comment-form textarea").val("");
      })
    })
  </script>

</body>


