<!DOCTYPE html>
<html>
<head>
  <title>BellyGuide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
  <!-- // <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script> -->
  <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>

  <script type="text/javascript">
  $(function() {
    $("#myinput").suggest({filter:'(all type:/film/director)',
                            key: "<%=ENV["GOOGLE_API_KEY"]%>"});
  });
  </script>
</head>
<body>
  <p class="flash"><%= flash.notice %><p/>

  <%= render "layouts/header" %>

  <div class="page group">

    <section class="page-main">
      <%= yield %>
    </section>

  </div>

</body>
</html>

