<!DOCTYPE html>
<html>
<head>
  <title>BellyGuide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <script>
  $(document).ready(function () {
    if ($(".flash-notice p").html() !== "") {
        $(".flash-notice").slideDown("slow", function() {
          setTimeout(function() {
            $(".flash-notice").slideToggle("slow");
          }, 2000);
        });
      }
    })
  </script>
  <div class="flash-notice group">
    <p><%= flash.notice %></p>
  </div>

  <%= render "layouts/header" %>

  <div class="page group">

    <section class="page-main">
      <%= yield %>
    </section>

  </div>

</body>
</html>

