<!DOCTYPE html>
<html>
<head>
  <title>BellyGuide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>
  <script type="text/javascript">
  $(function() {
    $("#myinput").suggest({filter:'(all type:/dining/restaurant)'});
  });
  </script>
</head>
<body>
  <p class="flash"><%= flash.notice %><p/>

  <header class="header">
    <div class="header-wrap group">

      <% if !current_user.nil? %>
        <h1 class="header-logo">
          <a href="<%= user_url(current_user) %>">Belly Guide</a>
        </h1>

        <nav class="header-nav">
        <ul class="group">
            <li class="first"> Hello <%= current_user.username %>!</li>
            <li><a href="<%= user_url(current_user) %>">My Maps</a></li>
            <li><a href="<%= favorites_url %>">Favorites</a></li>
            <li><a href="<%= new_map_url %>">Create a Map</a></li>
            <li><a href="<%= maps_url %>">Explore</a></li>
            <li><%= button_to "Logout", session_url, method: :delete, class: "sign-in" %></li>
        </ul>
      </nav>
      <% end %>
    </div>
  </header>

  <div class="page group">

    <section class="page-main">
      <%= yield %>
    </section>

  </div>

</body>
</html>
