<!DOCTYPE html>
<html>
<head>
  <title>BellyGuide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="header-wrap">

    <h1 class="header-logo">
      <a href="<%= user_url(current_user) %>">Belly Guide</a>
    </h1>

    <nav class="header-nav">
      <ul class="group">
        <li><% if !current_user.nil? %>
            <ul>
              <li> Hello <%= current_user.username %>!
              <%= button_to "Logout", session_url, method: :delete %></li>
            </ul>
            <% end %>
        </li>
        <li><a href="#">Favorites</a></li>
        <li><a href="<%= user_url(current_user) %>">My Maps</a></li>
        <li><a href="<%= new_map_url %>">Create a Map</a></li>
      </ul>
    </nav>

  </div>
</header>

<div class="page group">

  <section class="page-main">
    <%= yield %>
  </section>

</div>

</body>
</html>
